version: '3.3'

services:
    broker:
#        command: kafka broker
        command: confluent broker
        container_name: broker
        depends_on:
            - zookeeper
        environment:
            DEBUG_TRACE: ${DEBUG_TRACE:-0}
            KAFKA_ADVERTISED_HOST_NAME: ${HOST_IP:?}
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://${HOST_IP:?}:9092
            KAFKA_BROKER_ID: ${KAFKA_ID:?}
            KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
            KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_NUM_PARTITIONS: 1
            KAFKA_ZOOKEEPER_CONNECT: ${ZOOKEEPER_HOSTS:?}
            ZOOKEEPER_TIMEOUT: 6000
        extra_hosts:
            - "ubuntu-s1:10.1.3.11"
            - "ubuntu-s2:10.1.3.12"
            - "ubuntu-s3:10.1.3.6"
            - "ubuntu-s4:10.1.3.10"
        hostname: broker
#        image: ${DOCKER_REGISTRY:-ubuntu-s2:5000/}${CONTAINER_OS:-i386-ubuntu}/kafka/${KAFKA_VERSION:-2.2.0}:${CONTAINER_TAG:-a26912789865002192192ef07448a670f05ee02b25c8c075c6462ea0deb076e3}
        image: ${DOCKER_REGISTRY:-ubuntu-s2:5000/}${CONTAINER_OS:-i386-ubuntu}/confluent/${CONFLUENT_VERSION:-5.3.1}:${CONTAINER_TAG:-dd5a4b9c0c4b43239f3f2c10c2bc04f2fcf4bdcccc677661628037b2f9a8983e}
        logging:
            driver: json-file
            options:
                max-file: "3"
                max-size: "10m"
        links:
           - zookeeper
        ports:
            - "9092:9092"
        restart: unless-stopped
        volumes:
            - /media/500GB/broker/data:/usr/local/kafka/data
            - /media/500GB/broker/logs/:/usr/local/kafka/logs
            - ./kafka-broker/log:/var/log

    zookeeper:
#        command: kafka zookeeper
        command: confluent zookeeper
        container_name: zookeeper
        environment:
            DEBUG_TRACE: ${DEBUG_TRACE:-0}
            ZOOKEEPER_MY_ID: ${KAFKA_ID:?}
            ZOOKEEPER_PORT: 2181
            ZOOKEEPER_TICK_TIME: 2000
            ZOOKEEPER_INIT_LIMIT: 10
            ZOOKEEPER_SYNC_LIMIT: 5
        extra_hosts:
            - "ubuntu-s1:10.1.3.11"
            - "ubuntu-s2:10.1.3.12"
            - "ubuntu-s3:10.1.3.6"
            - "ubuntu-s4:10.1.3.10"
        hostname: zookeeper
#        image: ${DOCKER_REGISTRY:-ubuntu-s2:5000/}${CONTAINER_OS:-i386-ubuntu}/kafka/${KAFKA_VERSION:-2.2.0}:${CONTAINER_TAG:-a26912789865002192192ef07448a670f05ee02b25c8c075c6462ea0deb076e3}
        image: ${DOCKER_REGISTRY:-ubuntu-s2:5000/}${CONTAINER_OS:-i386-ubuntu}/confluent/${CONFLUENT_VERSION:-5.3.1}:${CONTAINER_TAG:-dd5a4b9c0c4b43239f3f2c10c2bc04f2fcf4bdcccc677661628037b2f9a8983e}
        logging:
            driver: json-file
            options:
                max-size: "10m"
                max-file: "3"
        ports:
            - "2181:2181"
        restart: unless-stopped
        volumes:
            - /media/500GB/zookeeper/data:/usr/local/kafka/data
            - /media/500GB/zookeeper/logs:/usr/local/kafka/logs
            - ./kafka-zookeeper/log:/var/log
